{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="icon" href="{% static 'img/logo-favi.png' %}">
  <link rel="stylesheet" href="{% static 'libs/adminlte-3.0.4/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'libs/adminlte-3.0.4/css/adminlte.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script src="{% static 'libs/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'libs/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'libs/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
  <script src="{% static 'libs/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
  <!--Jquery confirm-->
  <link rel="stylesheet" href="{% static 'libs/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
  <script src="{% static 'libs/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
  <!--Css style-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Functions-->
  <script src="{% static 'js/functions.js' %}"></script>

  {% block head %}

  {% endblock %}

</head>

{% block body %}

{% endblock %}
</html>